.buyProduct tr{
    border: solid 2px rgb(192, 186, 186);
    text-align: center;
}
.buyProduct{
    padding: 5px 20px;
}
.nameDetailProduct{
    font-size: 25px;
    color: rgb(75, 75, 243);
    font-weight: bold;
}