/* footer */
.footer ul li{
    list-style-type: none;
}
.footer{
    background-color: rgb(219, 219, 210) !important;
}
.footer ul li a{
    text-decoration: none;
    color: rgb(150, 150, 141);
}
.iconFooter{
    color: rgb(150, 150, 141);
}
.footer ul{
    padding-inline-start: 0px;
}

/* header */
.form-inline
{
    flex-flow: unset;
}
.iconCart{
    color: white;
    font-size: 5vh;
    display: block;
}
.rightItemLink
{
    color: rgba(255,255,255,.5);
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .contentMdHidden
    {
        margin-left: 5px !important;
    }
    .rightItem
    {
        display: block !important;
    }
    .rightItemLink{
        padding-left: 5px !important;
    }
}
@media (max-width: 575.98px) {
        .contentMdHidden
        {
            margin-left: 10px !important;
        }
        .rightItem
        {
            display: block !important;
        }
        .rightItemLink{
            padding-left: 5px !important;
        }
    }

.sortMenu{
    background-color: white;
}

#bodyHome{
    padding-top: 125px;
}
@media (max-width: 575.98px) {
    #bodyHome{
        padding-top: 140px;
    }
}
