<nav class="navbar navbar-dark bg-light footer">
    <div class="d-flex justify-content-between container">

        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <h4>Thông tin liên hệ</h4>
            <ul>
                <li><i class="fas fa-home iconFooter"></i> ĐC: Cần Thơ</li>
                <li><i class="fas fa-phone iconFooter"></i> 0388888889</li>
                <li><i class="far fa-envelope iconFooter"></i> pqshop@gmail.com</li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <h4>Theo dõi</h4>
            <ul>
                <li><a href="" class="iconFooter"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a href="" class="iconFooter"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="" class="iconFooter"><i class="fab fa-youtube"></i> Youtube</a></li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <h4>Hỗ trợ</h4>
            <ul>
                <li><a href="">Trung tâm trợ giúp</a></li>
                <li><a href="">Hướng dẫn mua hàng</a></li>
                <li><a href="">Chỉ đường</a></li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <h4>Chính sách</h4>
            <ul>
                <li><a href="">Chính sách thanh toán</a></li>
                <li><a href="">Chính sách bảo hành</a></li>
                <li><a href="">Chính sách đổi trả</a></li>
            </ul>
        </div>
    </div>
</nav>