<div class="mt-3 mb-3">
    <div class="mb-3" style="font-size: 25px; text-align: center;">Thêm nhân viên</div>
    <form action="/admin/addStaffProcess" method="post" onsubmit="return check()">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12"
                style="padding-left: 15px !important; padding-bottom: 0px !important">
                <input type="text" placeholder="Họ và tên" id="name" name="name"
                    class="w-xl-98 w-lg-98 w-md-98 w-sm-98 w-xs-98">
                <p id="warningName" class="warning"></p>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12"
                style="padding-left: 15px !important; padding-bottom: 0px !important">
                <input type="text" placeholder="Tên đăng nhập" id="user" name="user"
                    class="w-xl-98 w-lg-98 w-md-98 w-sm-98 w-xs-98" onblur="checkUser(this.value)">
                <p class="warning" id="warningUser"></p>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12"
                style="padding-left: 15px !important; padding-bottom: 0px !important">
                <input type="password" class="w-xl-98 w-lg-98 w-md-98 w-sm-98 w-xs-98" id="password" name="password"
                    placeholder="Mật khẩu">
                <p class="warning" id="warningPassword"></p>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12"
                style="padding-left: 15px !important; padding-bottom: 0px !important">
                <input type="password" class="w-xl-98 w-lg-98 w-md-98 w-sm-98 w-xs-98" id="rePassword" name="rePassword"
                    placeholder="Nhập lại mật khẩu">
                <p class="warning" id="warningRePassWord"></p>
            </div>

            <div class="input-group col-xl-6 col-lg-6 col-md-6 col-12"
                style="padding-left: 15px !important; padding-right: 18px !important">
                <div class="">
                    <label class="input-group-text">Giới tính</label>
                </div>
                <select class="custom-select" name="gender">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Khác">Khác</option>
                </select>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12"
                style="padding-left: 15px !important; padding-bottom: 0px !important">
                <input type="text" placeholder="Số điện thoại" name="phone"
                    class="w-xl-98 w-lg-98 w-md-98 w-sm-98 w-xs-98" id="phone">
                <p class="warning" id="warningPhone"></p>
            </div>

        </div>


        <textarea name="address" rows="3" placeholder="Địa chỉ" class="w-100" id="address"></textarea>
        <p id="warningAddress" class="warning"></p>
        <div class="d-flex justify-content-center">
            <div class="">
                <button type="reset" class="btn btn-secondary">Làm lại</button>
            </div>&nbsp;&nbsp;
            <div class="">
                <button class="btn btn-primary" type="submit">Thêm</button>

            </div>
        </div>
    </form>
</div>

<script>
    checkNameUser = true;
    //check form register
    function check() {
        var checked = true;
        //check name
        var nameCheck = document.getElementById('name').value;
        if (nameCheck == "") {
            document.getElementById("warningName").innerHTML = "Vui lòng nhập vào họ và tên!";
            checked = false;
        }
        else document.getElementById("warningName").innerHTML = "";



        //check user
        var user_reg = /^[A-Za-z][A-Za-z0-9]{5,15}$/;
        var userCheck = document.getElementById('user').value;
        if (userCheck == "") {
            document.getElementById("warningUser").innerHTML = "Vui lòng nhập vào tên đăng nhập!";
            checked = false;
        }
        else if (user_reg.test(userCheck)) document.getElementById("warningUser").innerHTML = "";
        else {
            document.getElementById("warningUser").innerHTML = "Tên đăng nhập từ 6 - 15 kí tự và bắt đầu bằng chữ cái!";
            checked = false;
        }

        //check password
        var pass_reg = /^(?=.*[A-Za-z])(?=.*[0-9])[A-Za-z0-9]{6,15}$/;
        var passCheck = document.getElementById('password').value;
        if (passCheck == "") {
            document.getElementById("warningPassword").innerHTML = "Vui lòng nhập vào mật khẩu!";
            checked = false;
        }
        else if (pass_reg.test(passCheck)) document.getElementById("warningPassword").innerHTML = "";
        else {
            document.getElementById("warningPassword").innerHTML = "Mật khẩu từ 6 - 15 kí tự bao gồm chữ và số!";
            checked = false;
        }
        //
        var rePassCheck = document.getElementById('rePassword').value;
        if (rePassCheck == "") {
            document.getElementById("warningRePassWord").innerHTML = "Vui lòng lại mật khẩu!";
            checked = false;
        }
        else if (rePassCheck == passCheck) document.getElementById("warningRePassWord").innerHTML = "";
        else {
            document.getElementById("warningRePassWord").innerHTML = "Mật khẩu sai vui lòng nhập lại!";
            checked = false;
        }
        //check phone
        var phone_reg = /^[0-9]{6,11}$/;
        var phoneCheck = document.getElementById('phone').value;
        if (phoneCheck == "") {
            document.getElementById("warningPhone").innerHTML = "Vui lòng nhập vào số điện thoại!";
            checked = false;
        }
        else if (phone_reg.test(phoneCheck)) document.getElementById("warningPhone").innerHTML = "";
        else {
            document.getElementById("warningPhone").innerHTML = "Số điện thoại không hợp lệ!";
            checked = false;
        }
        //check address
        var addressCheck = document.getElementById('address').value;
        if (addressCheck == "") {
            document.getElementById("warningAddress").innerHTML = "Vui lòng nhập địa chỉ!";
            checked = false;
        }
        else document.getElementById("warningAddress").innerHTML = "";

        //check user
        if (checkNameUser == false) {
            checked = false;
            document.getElementById("warningUser").innerHTML = "Tên tài khoản đã tồn tại vui lòng chọn tên khác!";
        }
        return checked;
    }
    //check user
    function checkUser(user) {
        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                if (xmlhttp.responseText != "") {
                    document.getElementById("warningUser").innerHTML = xmlhttp.responseText;
                    checkNameUser = false;
                }
                else {
                    checkNameUser = true;
                    if (document.getElementById("warningUser").innerHTML == "Tên tài khoản đã tồn tại vui lòng chọn tên khác!")
                        document.getElementById("warningUser").innerHTML = xmlhttp.responseText;
                }
            }
        }
        xmlhttp.open("GET", "/checkUserDatabase?user=" + user, true);
        xmlhttp.send();
    }
</script>