<!-- Modal register -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tạo tài khoản mới</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    <div class="modal-body">
        <form action="">
            <div class="form-group">
                <div class="col-sm">
                    <input type="text" class="form-control" id="user" name="user" placeholder="Tên tài khoản">
                    <p></p>
                </div>
                <div class="col-sm">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
                    <p></p>
                </div>
                <div class="col-sm">
                    <input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="Nhập lại mật khẩu">
                    <p></p>
                </div>
                <hr>
                <div class="endFormRegister">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở về</button>&nbsp;
                    <button type="submit button" class="btn btn-primary">Đăng kí</button>   
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer-redefine">
        <div class="facegg">
            <a href="" class="facebook btn w-100">
                <i class="fab fa-facebook"></i>&nbsp;<span>Đăng kí với Facebook</span>
            </a>
            <a href="" class="google btn w-100">
                <i class="fab fa-google"></i>&nbsp;<span>Đăng kí với Google</span>
            </a>
        </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal login -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Đăng nhập</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    <div class="modal-body">
        <form action="">
            <div class="form-group">
                <div class="col-sm">
                    <input type="text" class="form-control" id="user" name="user" placeholder="Tên đăng nhập">
                    <p></p>
                </div>
                <div class="col-sm">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
                    <p></p>
                </div>
                <hr>
                <div class="endFormRegister">
                    <a href="">Quên mật khẩu</a> | 
                    <a href="">Hỗ trợ ?</a>
                </div>
                <p></p>
                <div class="endFormRegister">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở về</button>&nbsp;
                    <button type="submit button" class="btn btn-primary">Đăng nhập</button>   
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer-redefine">
        <div class="facegg">
            <a href="" class="facebook btn w-100">
                <i class="fab fa-facebook"></i>&nbsp;<span>Đăng nhập với Facebook</span>
            </a>
            <a href="" class="google btn w-100">
                <i class="fab fa-google"></i>&nbsp;<span>Đăng nhập với Google</span>
            </a>
        </div>
    </div>
    </div>
  </div>
</div>