{{#if total}}
    <div class="mt-3 mb-3">
        <h3 style="text-align: center; color:rgb(194, 174, 230);">Doanh thu ngày: <span class="number">{{total}}</span></h3>
    </div>
{{else}}
    <div class="mt-3 mb-3">
        <h3 style="text-align: center; color:rgb(194, 174, 230);">Doanh thu ngày: <span class="number">0</span></h3>
    </div>
{{/if}}