{{#if message}}
    <div style="text-align: center" class="alert alert-{{message.type}}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{message.intro}}</strong> {{message.message}}
    </div>

    {{/if}}
    <div class="sign-up">
      <h1>Sign up</h1>
      <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" class="form-control"><br>
        <label>Email:</label><br>
        <input type="text" name="email" class="form-control"><br>
        <label>Password:</label><br>
        <input type="password" name="password" class="form-control"><br>
        <label>Confirm your password:</label><br>
        <input type="password" name="confirm" class="form-control"><br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>